label{
    display: inline-block;
}

input {
  display: inline-block;

}


#wrapper{
    width: 1100px;
    margin: auto;
    /* border: 1px solid black; */
}

#topbar{
    background: linear-gradient(to right, transparent, #2f7051, transparent);
    height: 80px; 
}
#logo{
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;
}

#searchField {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin-right:50px;
}


#gameField {
    display: inline-block;
    width: 400px;
}

#searchInput{
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

#gameRow{
    width: 350px;
}

th{
    width: 100px;
}