<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>Add Game</title>
       <style>
           div{
               display: inline-block;
               vertical-align: top;
           }
           table, td{
               border: solid, 1px, black;
           }
       </style>
    </head>
    <body>
        <div>
            <h1>Search for a Game</h1>
            <form action="searchProducts" method="post">
                {% csrf_token %}
                <p>Title: <input type="text" name="search"></p>
                <input type="submit" value="Search">
            </form>
            {% if games_search %}
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>BGG id</th>
                    </tr>
                    {% for game in games_search %}
                        <tr>
                            <td><a href="/admin/select-game/{{game.id}}">{{game.title}}</a></td>
                            <td>{{game.year_published}}</td>
                            <td>{{game.id}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div>
            {% if selected_game %}
                <img src="{{selected_game.thumbnail}}" alt="game image">
                <form action="create-game" method="post">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class='errorMessage'>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% csrf_token %}
                    <p>Title: <input type="text" name="title" value="{{selected_game.title}}"></p>
                    <p>Publisher: <input type="text" name="publisher" value="{{selected_game.publisher}}"></p>
                    <p>Year: <input type="text" name="yearpublished" value="{{selected_game.yearpublished}}"></p>
                    <p>minplayers: <input type="text" name="minplayers" value="{{selected_game.minplayers}}"></p>
                    <p>maxplayers: <input type="text" name="maxplayers" value="{{selected_game.maxplayers}}"></p>
                    <p>playtime: <input type="text" name="playtime" value="{{selected_game.playtime}}"></p>
                    <p>Description: <textarea name="description" cols="30" rows="10">{{selected_game.description}}</textarea></p>
                    <p>Price: <input type="text" name="price"></p>
                    <p>Sale Price: <input type="text" name="sale_price"> leave blank if not on sale</p>
                    <p>Classic <input type="checkbox" name="classic" value='True'></p>
                    <input type="hidden" name="thumbnail" value='{{selected_game.thumbnail}}'>
                    <input type="hidden" name="image" value='{{selected_game.image}}'>
                    <input type="submit" value="Add game to database">
                </form>
            {% endif %}
        </div>
    </body>
</html>