<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>{{game.title}}</title>
       <link rel="stylesheet" type="text/css" href="../static/store/style.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="topbar">
                <a href=""><img id='logo' src="../static/store/images/bt_logo.png" alt=""></a>
                <a href="" id='login_ns'>Login</a> | <a href="">Cart</a>
            </div>
            <div id='gp_main'>
                <div id='gp_left'>
                    <img class='gp_image' src="{{game.image}}" alt="">
                    <h3>Categories</h3>
                    <ul>
                        <li><form action="">
                                <input type="hidden" name='category' value='adventure'>
                                <input class='category' type="submit" value='Adventure'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='exploration'>
                                <input class='category' type="submit" value='Exploration'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='fantasy'>
                                <input class='category' type="submit" value='Fantasy'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='fighting'>
                                <input class='category' type="submit" value='Fighting'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='horror'>
                                <input class='category' type="submit" value='Horror'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='murder_mystery'>
                                <input class='category' type="submit" value='Murder/Mystery'>
                            </form>
                        </li>
                        <li><form action="">
                                <input type="hidden" name='category' value='puzzle'>
                                <input class='category' type="submit" value='Puzzle'>
                            </form>
                        </li>
                    </ul>
                </div>
                <div id='gp_text'>
                    <h2>{{game.title}}</h2>
                    <h5>{{game.publisher}}</h5>
                    <h3>Rating: 4 stars</h3>
                    {% if game.sale_price %}
                        <p class='sale_item'>Price: ${{game.price}}</p>
                        <p style="color: #2f7051;">Sale Price: ${{game.sale_price}}</p>
                    {% else %}
                        <p style="color: #2f7051;">Price: ${{game.price}}</p>
                    {% endif %}
                    <form action="">
                        <input type="hidden" name='game_id' value='{{game.id}}'>
                        <input type="submit" value='Add to Cart' id='add_to_cart'>
                    </form>
                    <p>{{game.description}}</p>
                    <p>Average Playtime: {{game.playtime}}</p>
                    <p>Players: {{game.minplayers}}-{{game.maxplayers}}</p>
                </div>
                

            </div>
        </div>
    </body>
</html>