<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>{{game.title}}</title>
       <link rel="stylesheet" type="text/css" href="../static/store/style.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="topbar">
                <a href="/"><img id='logo' src="../static/store/images/bt_logo.png" alt=""></a>
                {% if request.session.id %}
                    <a href="/user/{{request.session.id}}" id='account_ns'>My Account</a>
                {% else %}
                    <a href="/sign-in" id='login_ns'>Login</a>
                {% endif %} | <a href="/checkout/cart">Cart</a>
            </div>
            <div id='gp_main'>
                <div id='gp_left'>
                    <img class='gp_image' src="{{game.image}}" alt="">
                    <h3>Categories</h3>
                    <ul>
                        {% for cat in categories %}
                            <li>
                                <form action="/results_process" method='post'>
                                    {% csrf_token %}
                                    <input type="hidden" name='category_id' value='{{cat.id}}'>
                                    <input class='category' type="submit" value='{{cat.name}}'>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='gp_text'>
                    <h2>{{game.title}}</h2>
                    <h5>{{game.publisher}}</h5>
                    <h3>Rating: {{game.rating}} out of 10</h3>
                    {% if game.sale_price %}
                        <p class='sale_item'>Price: ${{game.price}}</p>
                        <p style="color: #2f7051;">Sale Price: ${{game.sale_price}}</p>
                    {% else %}
                        <p style="color: #2f7051;">Price: ${{game.price}}</p>
                    {% endif %}
                    <form action="/add_to_cart" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name='game_id' value='{{game.id}}'>
                        <input type="submit" value='Add to Cart' id='add_to_cart'>
                    </form>
                    <p>{{game.description}}</p>
                    <p>Average Playtime: {{game.playtime}}</p>
                    <p>Players: {{game.minplayers}}-{{game.maxplayers}}</p>
                </div>
                

            </div>
        </div>
    </body>
</html>