<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>The Broken Token</title>
       <link rel="stylesheet" type="text/css" href="../static/store/style.css">
    </head>
    <body>
        <div id="bg">
            <div id='wrapper'>
                <div id='topbar'>
                    <img id='logo' src="../static/store/images/bt_logo.png" alt="">
                    <form action=""></form>
                        <input type="text" id="search_bar" name='search' placeholder="Search for a game">
                        <input type="submit" value='search' id='search_btn'>
                    </form>
                    <a href="" id='login'>Login</a> | <a href="">Cart</a>
                </div>
                <div id="browse">
                    <h3>Browse by Category</h3>
                    <ul>
                        {% for cat in categories %}
                            <li><form action="" method='post'>
                                    <input type="hidden" name='category_id' value='{{cat.id}}'>
                                    <input class='category' type="submit" value='{{cat.name}}'>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="">Advanced Search</a>
                </div>
                <div id="main">
                    <a id='featured' href=""><img src="../static/store/images/featured1.jpg" alt=""></a>
                    <div id="new_block">
                        <a class='new' href=""><img class='new' src="../static/store/images/featured2.jpg" alt=""></a>
                        <a class='new' href=""><img class='new' src="../static/store/images/featured3.jpg" alt=""></a>
                    </div>
                    <div name='sale'>
                        <p class='subhead'>On Sale Now!</p>
                            {% for game in sale %}
                                <a href="/game/{{game.id}}">
                                    <div class='subgames'>
                                        <img src="{{game.thumbnail}}" alt="">
                                        <p class='black'>{{game.title}}</p>
                                        <p><span class='sale_item'>${{game.price}}</span> ${{game.sale_price}}</p>
                                    </div>
                                </a>
                            {% endfor %}
                    <div name='popular'>
                        <p class='subhead'>Popular Games</p>
                        {% for game in popular %}
                            <a href="/game/{{game.id}}">
                                <div class='subgames'>
                                    <img src="{{game.thumbnail}}" alt="">
                                    <p class='black'>{{game.title}}</p>
                                    {% if game.sale_price %}
                                        <p><span class='sale_item'>${{game.price}}</span> ${{game.sale_price}}</p>
                                    {% else %}
                                        <p>${{game.price}}</p>
                                    {% endif %}                                   
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div name='classics'>
                        <p class='subhead'>Classics</p>
                            {% for game in classics %}
                                <a href="/game/{{game.id}}">
                                    <div class='subgames'>
                                        <img src="{{game.thumbnail}}" alt="">
                                        <p class='black'>{{game.title}}</p>
                                        {% if game.sale_price %}
                                            <p><span class='sale_item'>${{game.price}}</span> ${{game.sale_price}}</p>
                                        {% else %}
                                            <p>${{game.price}}</p>
                                        {% endif %}                                     
                                    </div>
                                </a>
                            {% endfor %}
                    </div>
                    {% if recently_viewed %}
                        <div name='recent'>
                            <p class='subhead'>Recently Viewed</p>
                            {% for game in recently_viewed %}
                                <a href="/game/{{game.id}}">
                                    <div class='subgames'>
                                        <img src="{{game.thumbnail}}" alt="">
                                        <p class='black'>{{game.title}}</p>
                                        {% if game.sale_price %}
                                            <p><span class='sale_item'>${{game.price}}</span> ${{game.sale_price}}</p>
                                        {% else %}
                                            <p>${{game.price}}</p>
                                        {% endif %}                                     
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>