<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checkout/css/styles.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div id='cart'>
            {% if list_of_games %}
                <form action="update-cart" method="post">
                    {% csrf_token %}
                    {% for game in list_of_games %}
                        <div>
                            {{game.game_object.title}}
                            {{game.subtotal}}
                            <select>
                                '{{game.quantity|safe}}'
                            </select>
                        </div>
                    {% endfor %}
                    <p>{{total}}</p>
                    <input type="submit" value="Update Cart">
            </form>
            <a href="checkout/confirm"><button>Continue to checkout</button></a>
            {% else %}
                <p>Your cart is currently empty.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>