<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout-styles.css' %}">
</head>
<body>
    <div id='wrapper'>
            <div id='topbar'>
                <img id='logo' src="../static/store/images/bt_logo.png" alt="">
                {% if request.session.id %}
                <a href="/sign-in/logout" id='login'>Logout</a>
                {% else %}
                <a href="/sign-in/1" id='login'>Login</a> | <a href="">Cart</a>
                {% endif %}
            </div>
        <div id='cart'>
            {% if list_of_games %}
                <table class='gameFeild'>
                <form action="update-cart" method="post">
                    {% csrf_token %}
                    {% for game in list_of_games %}
                        <tr>
                            <td><img src="{{game.game_object.thumbnail}}" alt=""></td>
                            <td><h3 class='tableText'>{{game.game_object.title}}</h3></td>
                            <td>{{game.subtotal}}</td>
                            <td><select name ='order{{game.game_object.id}}' class='quantity'>
                                '{{game.quantity|safe}}'
                            </select></td>
                        </tr>
                    
                    {% endfor %}
                </table>
                <input type="submit" value="Update Cart" class='myButton'>
                    <p id='total'>Total: {{total}}</p>
                </form>
                <div id='billing'>
                {% if request.session.id %}
                <script src="https://js.stripe.com/v3/"></script>
                    
                    <form action="/your-server-side-code" method="POST">
                        <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_ENMiewIjwD4YUoW8GstAXavr"
                        data-amount="999"
                        data-name="Broken Token"
                        data-description="Payment"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                    </script>
                </form>
                    {% else%}
                        <a href="/sign-in/1"><button>Please sign-in to purchase</button></a>
                    {% endif %}
                {% else %}
                <h3>No games in your cart yet</h3>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>